<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<title>不可及</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" href="https://wangqiong.me/favicon.ico" type="image/x-icon">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://wangqiong.me/public/css/bootstrap.css">
</head>

<body id="top" class="stickyfooter header-fixed">
	<div class="animsition">
		<div class="content">
			<header class="header-wrap no-transparent">
				<div class="header-container">
					<div class="container clearfix">
						<div class="pull-left">
							<!-- Logo -->
							<a href="/#" class="logo clearfix">MG</a>
						</div>
						<div class="pull-right">
							<!-- Menu Burger -->
							<a href="#" class="fullscreen-menu-toggle">
								<span>示</span>
								<i class="menu-bars">
									<i></i>
									<i></i>
									<i></i>
								</i>
							</a>
						</div>

					</div>
				</div>
				<!-- End header-container -->
			</header>
			<div id="fullscreen-navigation">
				<div class="inner-wrap">
					<nav>
						<ul class="nav_menu">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="http://blog.halfmy.com">Blog</a>
							</li>
							<!-- <li>
								<a href="/view/page/contact.html">Contact</a>
							</li> -->
						</ul>
					</nav>
				</div>
			</div>
			<!-- End fullscreen-navigation background-image: url('https://wangqiong.me/public/img/bg/08.png'); -->
			<section class="jarallax" style="background: darkgrey;">
				<div class="container">
					<div class="aligner">
						<a href="http://blog.halfmy.com">
							<div class="aligner-item page-title">
								<h1>Me Are Minimalist</h1>
								<p>今夕何夕，与此良人</br>
								</p>
							</div>
						</a>
					</div>
				</div>
			</section>
			<!-- End section -->
			<a href="#top" class="scroll-top scroll-top-hidden">
				<i class="fa fa-angle-up"></i>
			</a>
			<!-- End scroll-top -->
		</div>
		<!-- End content -->
		<footer>
			<div class="footer">
				<div class="container">
					<div class="text-center">
						<!-- Footer Logo Text -->
						<a href="/" class="logo clearfix">投我以木瓜</a>
						<div class="footer-socials"></div>
						<!-- End socials -->
						<!-- End footer-menu -->
						<p class="copy">
							Copyright &copy; 2016-2018 WANGQIONG.ME All rights reserved.
							<a target="_blank" href="#"></a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->
	</div>
	<!-- 动态样式 -->
	<!-- Plugins -->
	<link rel="stylesheet" href="https://wangqiong.me/public/css/core.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="https://wangqiong.me/public/css/style.css">
	<!-- End animsition -->
	<script src="https://wangqiong.me/public/js/jquery-1.12.4.min.js"></script>
	<script src="https://wangqiong.me/public/js/libs.js"></script>
	<!-- Custom -->
	<script src="https://wangqiong.me/public/js/main.js"></script>
	<script src="https://wangqiong.me/public/js/script.js"></script>
</body>

</html>